<!-- note запрос с JSON -->
{:
diagRef = db.getRecordEx(stmt=u"""
  SELECT
      MAX(IF(ds.id = getEventDiagnosis(e.id), mkb.DiagID, NULL)) AS mainId,
      MAX(IF(ds.id = getEventDiagnosis(e.id), mkb.DiagName, NULL)) AS mainName,
      COALESCE(
          NULLIF(
              CONCAT(
                  '[',
                  GROUP_CONCAT(
                      IF(dc.diagnosisType_id = 3 AND mkb.DiagID IS NOT NULL,
                         JSON_OBJECT('DiagID', mkb.DiagID, 'DiagName', mkb.DiagName),
                         NULL)
                      SEPARATOR ','
                  ),
                  ']'
              ),
              '[]'
          ),
          '[]'
      ) AS diffDiags,
      COALESCE(
          NULLIF(
              CONCAT(
                  '[',
                  GROUP_CONCAT(
                      IF(dc.diagnosisType_id = 21 AND mkb.DiagID IS NOT NULL,
                         JSON_OBJECT('DiagID', mkb.DiagID, 'DiagName', mkb.DiagName),
                         NULL)
                      SEPARATOR ','
                  ),
                  ']'
              ),
              '[]'
          ),
          '[]'
      ) AS relatedDiags
  FROM Event e
  JOIN Diagnostic dc ON e.id = dc.event_id AND dc.deleted = 0
  JOIN Diagnosis ds ON dc.diagnosis_id = ds.id AND ds.deleted = 0
  JOIN MKB mkb ON ds.MKB = mkb.DiagID
  where e.id = {event_id};
""".format(event_id=event.id))
}



{:
diagRef = db.getRecordEx(stmt=u"""
  SELECT
      MAX(IF(ds.id = getEventDiagnosis(e.id), mkb.DiagID, NULL)) AS mainId,
      MAX(IF(ds.id = getEventDiagnosis(e.id), mkb.DiagName, NULL)) AS mainName,
      COALESCE(
          NULLIF(
          GROUP_CONCAT(
              IF(dc.diagnosisType_id = 3 AND mkb.DiagID IS NOT NULL,
                 CONCAT_WS('$', mkb.DiagID, mkb.DiagName),
                 NULL)
              SEPARATOR ';'
          ),
          ''
      ),
      ' '
      ) AS diffDiags,
      COALESCE(
          NULLIF(
          GROUP_CONCAT(
              IF(dc.diagnosisType_id = 21 AND mkb.DiagID IS NOT NULL,
                 CONCAT_WS('$', mkb.DiagID, mkb.DiagName),
                 NULL)
              SEPARATOR ';'
          ),
          ''
      ),
      ''
      ) AS relatedDiags
  FROM Event e
  JOIN Diagnostic dc ON e.id = dc.event_id AND dc.deleted = 0
  JOIN Diagnosis ds ON dc.diagnosis_id = ds.id AND ds.deleted = 0
  JOIN MKB mkb ON ds.MKB = mkb.DiagID
  WHERE e.id = {event_id};
""".format(event_id=event.id))
}
{:
if diagRef:
    mainId = forceString(diagRef.value('mainId'))
    mainName = forceString(diagRef.value('mainName'))
    diffDiags = forceString(diagRef.value('diffDiags'))
    relatedDiags = forceString(diagRef.value('relatedDiags'))
else:
  mainId = ''
  mainName = ''
  diffDiags = ''
  relatedDiags = ''
}


{:
main_diag_ref = db.getRecordEx(stmt=u"""
  select mkb.DiagName as diag_name,
         mkb.DiagID   as diag_id
  from Diagnosis ds
           join MKB mkb on ds.MKB = mkb.DiagID
  where ds.id = getEventDiagnosis({event_id})
""".format(event_id=event.id))
}


{:
main_diag_ref = db.getRecordEx(stmt=u"""
  select mkb.DiagID, mkb.DiagName
  from Diagnosis ds
           join MKB mkb on ds.MKB = mkb.DiagID
  where ds.id = getEventDiagnosis({event_id})
""".format(event_id=event.id))
if main_diag_ref:
  DiagID = forceString(main_diag_ref.value(u'DiagID'))
  DiagName = forceString(main_diag_ref.value(u'DiagName'))
else:
   DiagID = u''
   DiagName = u''
}


<!-- note main diag-->
{:
main_diag_ref = db.getRecordEx(stmt=u"""
  select ds.MKB       as diag_id,
         mkb.DiagName as diag_name
  from Diagnosis ds
           left join MKB mkb on ds.MKB = mkb.DiagID
  where ds.id = (select getEventDiagnosis({event_id}))
""".format(event_id=event.id))

if main_diag_ref:
  main_diag_id = forceString(main_diag_ref.value(u'diag_id'))
  main_diag_name = forceString(main_diag_ref.value(u'diag_name'))
else:
  main_diag_id = u''
  main_diag_name = u''
}

<!-- note без использования getEventDiagnosis -->
{:
main_diag_ref = db.getRecordEx(stmt=u"""
  select mkb.DiagID, mkb.DiagName, ds.diagnos_string
  from Diagnostic dc
           join rbDiagnosisType rbDT on dc.diagnosisType_id = rbDT.id
           join Diagnosis ds on dc.diagnosis_id = ds.id
           join MKB mkb on ds.MKB = mkb.DiagID
  where dc.deleted = 0
    and dc.diagnosisType_id in (1, 2, 12, 18)
    and dc.event_id = {event_id}
  order by FIELD(dc.diagnosisType_id, 1, 2, 18, 12)
  limit 1;
""".format(event_id=event.id))
if main_diag_ref:
  DiagID = forceString(main_diag_ref.value(u'DiagID'))
  DiagName = forceString(main_diag_ref.value(u'DiagName'))
  diagnos_string = forceString(main_diag_ref.value(u'diagnos_string'))
else:
   DiagID = u'___________________________________________'
   DiagName = u''
   diagnos_string = u'___________________________________________'
}


    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td></td>
        <td width="1%"></td>
        <td></td>
      </tr>
      {: diag_type_name_list = [u'Осложнения основного заболевания:', u'Внешняя причина при травмах, отравлениях:', u'Сопутствующие заболевания:']}
      {for: diag_type_name in diag_type_name_list}
        <tr>
          <td class="white-wrap">
            {diag_type_name}&nbsp;
            {render_line(diag_type_name, 60)}
          </td>
          <td class="white-wrap">код по МКБ</td>
          <td>{'_' * 12}</td>
        </tr>
      {end:}
    </table>