{: import re}
{:
def format_phone(value):
  if value:
    cleared_str = re.sub(u'\D', u'', value)
    reversed_str = cleared_str[::-1]
    new_value = u''
    for index, char in enumerate(reversed_str):
      if index == 7:
        new_value += u')'
      new_value += char
      if index in (1, 3, 6):
        new_value += u'-'
      if index == 9:
        new_value += u'('
        if index == len(reversed_str) - 1:
          new_value += u'8'
    return new_value[::-1]
  return ''
}

{:
contact_ref_list = db.getRecordList(stmt=u"""
  select cc.contact
  from ClientContact cc
  where cc.deleted = 0
    and cc.contactType_id in (1, 2, 3)
    and cc.client_id = {clientId}
  order by id desc;
""".format(clientId=client.id))
}

  <div>
    Номер телефона:
    {if: contact_ref_list}
        {: phones = set()}
        {for: index, contact_ref in enumerate(contact_ref_list)}
          {: phones.add(format_phone(forceString(contact_ref.value(u'contact'))))}
        {end:}
        <b>{u'; '.join(phones)}</b>
    {end:}
    <span class="white-wrap">Адрес электронной почты: <b>{client.email if client.email != '' else '_' * 15}</b></span>
  </div>