<section>
<!-- @formatter:off -->
{:
from library.Utils import forceString
from PyQt4 import QtGui
db = QtGui.qApp.db

signRef = None
flag_sgn = False

if action.id:
  signRef = db.getRecordEx(stmt="""
    select
        certSerial as certificate,
        certOwner as name,
        ownerOrganisation as organisation,
        notValidBefore as beg_valid_date,
        notValidAfter as end_valid_date
    from SignedIEMKDocument
    where sign_date is not null
      and sign_path is not null
      and action_id = {actionId}
      and person_id != 0
      and template_id = 125
      and deleted = 0
    limit 1;
  """.format(actionId=action.id))

if signRef:
  flag_sgn = True
  certificate = forceString(signRef.value('certificate'))
  name = forceString(signRef.value('name'))
  organisation = forceString(signRef.value('organisation'))
  beg_valid_date = forceString(signRef.value('beg_valid_date'))
  end_valid_date = forceString(signRef.value('end_valid_date'))
}

<!-- @formatter:on -->


{if: flag_sgn}
    <table align="center">
        <tr>
            <td>
              <table border="1" cellpadding="3" cellspacing="0">
                  <tr>
                      <td>
                          <table border="0" style="font-family: 'Times New Roman'; font-size: 8pt;">
                              <tr><td align="center">ДОКУМЕНТ ПОДПИСАН ЭЛЕКТРОННОЙ ПОДПИСЬЮ</td></tr>
                              <tr><td>Сертификат: {certificate}</td></tr>
                              <tr><td>Владелец: {name}</td></tr>
                              {if: organisation}
                                  <tr><td>Организация: <font style="font-size: 6pt">{organisation}</font></td></tr>
                              {else:}
                                  <tr><td>Организация: {currentOrganisation.fullName}</td></tr>
                              {end:}
                              <tr><td>Действителен с {beg_valid_date} по {end_valid_date}</td></tr>
                          </table>
                      </td>
                  </tr>
              </table>
          </td>
        </tr>
    </table>
{end:}
</section>
