{:
def getDiagName(mkb_id):
  ref = None
  if mkb_id and mkb_id != '':
    ref = db.getRecordEx(stmt=u"""
      select mkb.DiagName as diag_name
      from MKB mkb
      where mkb.DiagID = '{mkb_id}'
    """.format(mkb_id=mkb_id))
  if ref:
    return forceString(ref.value(u'diag_name'))
  else:
    return ''
}


{:
def cut_code(value):
    if value:
      return forceString(value).split(u' ', )[0]
    else:
      return u''
}
    <div>
      Код субъекта Российской Федерации
      {if: u'Субъекты Российской Федерации' in action}
        <b>{cut_code(action[u'Субъекты Российской Федерации'].value)}</b>
      {else:}
        <b>{region_code}</b>
      {end:}

    </div>

    <div>
      Климат в месте проживания пациента (код)
        <b>{cut_code(action[u'Климат в месте проживания'].value)}</b>
    </div>
    <div>
      Климатические факторы в месте проживания пациента (код)
        <b>{cut_code(action[u'Климатические факторы в месте проживания'].value)}</b>
    </div>
    <div>
      Код меры социальной поддержки
        <b>{cut_code(action[u'Льготная категория'].value)}</b>
    </div>