<!--Начальная дата разработки 10.07.2025 г.-->
<!--Разработка: Пулин -->
<!--Контекст печати:  pay_q_control -->
<!--Задача: DEV_TEMP-5591 Шаблоны для КК -->

<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>контроль качества</title>

<style>
  .main {
      font-family: 'Arial';
      font-size: 11pt;
  }
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
  .center {
      text-align: center;
  }
  .header {
      text-align: center;
      font-weight: bold;
  }
  .white-wrap {
    white-space: nowrap;
  }
</style>



</head>
<body>

<div class="main">
  <div class="header">
    {{context.client_fio}}
    № амб.карты {{context.client_id}}
  </div>
  <br>
  <section>
    <div class="header">Первичный осмотр</div>
    <div class="header">Дата {{context.first_act.beg_date}}</div>


    <div>Перенесенные и сопутствующие заболевания: {{context.first_act.accompDiseases}}</div>
    <div>Данные объективного исследования:</div>
    <div>Внешний осмотр: {{context.first_act.apsInpection}}</div>

    <div align="center">
      {% if is_deciduous %}
          Молочные зубы
      {% else  %}
          Постоянные зубы
      {% endif %}          
    </div>
    
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="center">Статус</td>
        {% for item in context.first_act.top %}
          <td>{{ context.first_act.teeth_data.item.status }}</td>
        {% endfor %}
      </tr>
      <tr>
          <td class="center">Пародонтит, подвижность</td>
          {% for item in context.first_act.top %}
              <td>{{ context.first_act.teeth_data.item.move }}</td>
          {end:}
      </tr>
      <tr>
        <td class="center">Состояние</td>
        {% for item in context.first_act.top %}
          <td></td>
        {% endfor %}
      </tr>
      <tr>
        <td class="center">Верх</td>
        {% for item in context.first_act.top %}
          <td>{{item}}</td>
        {% endfor %}
      </tr>
      <tr>
        <td class="center">Низ</td>
        {% for item in context.first_act.bottom %}
          <td>{{item}}</td>
        {% endfor %}
      </tr>
      <tr>
        <td class="center">Состояние</td>
        {% for item in context.first_act.bottom %}
          <td></td>
        {% endfor %}
      </tr>
      <tr>
        <td class="center">Статус</td>
        {% for item in context.first_act.bottom %}
          <td>{{ context.first_act.teeth_data.item.status }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td class="center">Пародонтит, подвижность</td>
        {% for item in context.first_act.bottom %}
            <td>{{ context.first_act.teeth_data.item.move }}</td>
        {end:}
      </tr>
    </table>

    <br>

    <div>Прикус: {{context.first_act.beet}}</div>
    <div>Состояние слизистой оболочки полости рта, десен, альвеолярных отростков и неба: {{context.first_act.oralCondition}}</div>
    <div>Состояние слюнных желез: {{context.first_act.glandCondition}}</div>
    <div>Состояние лимфоузлов: {{context.first_act.lymphNodes}}</div>
    <div>Данные рентгеновских, лабораторных исследований: {{context.first_act.researchData}}</div>
    <div>Развитие настоящего заболевания: {{context.first_act.diseaseDevelopment}}</div>
  </section>

  <br>

  <section>
    <div class="header">Дата {{context.second_act.beg_date}}</div>
      {% if context.second_act.toothNumber %}
          <div><b>Зуб №:</b> {{ context.second_act.toothNumber }}</div>
      {% endif %}

      {% if context.second_act.cleaningList %}
          <div><b>Список зубов для чистки:</b> {{ context.second_act.cleaningList }}</div>
      {% endif %}

      {% if context.second_act.headAreas %}
          <div><b>Области головы, для которых проводится лечение:</b> {{ context.second_act.headAreas }}</div>
      {% endif %}

      {% if context.second_act.oralMucosa %}
          <div><b>Области слизистой полости рта:</b> {{ context.second_act.oralMucosa }}</div>
      {% endif %}

      {% if context.second_act.complaints %}
          <div><b>Жалобы:</b> {{ context.second_act.complaints }}</div>
      {% endif %}

      {% if context.second_act.anamnesis %}
          <div><b>Анамнез:</b> {{ context.second_act.anamnesis }}</div>
      {% endif %}

      {% if context.second_act.objectiveData %}
          <div><b>Объективные данные:</b> {{ context.second_act.objectiveData }}</div>
      {% endif %}

      {% if context.second_act.clinicalDiagnosis %}
          <div><b>Диагноз:</b> {{ context.second_act.clinicalDiagnosis }}</div>
      {% endif %}

      <div><b>МКБ-10:</b> {{ context.second_act.mkb }} {{ context.second_act.nameDiag }}</div>

      {% if context.second_act.treatment %}
          <div><b>Лечение:</b> {{ context.second_act.treatment }}</div>
      {% endif %}

      {% if context.second_act.recommendations %}
          <div><b>Рекомендации:</b> {{ context.second_act.recommendations }}</div>
      {% endif %}
  </section>

  <br>

  <table width="100%" cellpadding="3" cellspacing="0" border="1">
    <tr>
      <th width="1%" class="white-wrap">Код услуги</th>
      <th>Наименование услуги</th>
      <th width="1%" class="white-wrap">Цена</th>
      <th width="1%" class="white-wrap">Кол-во</th>
      <th width="1%" class="white-wrap">Сумма, руб</th>
    </tr>

    {% service for context.services %}
      <tr>
        <td valign="middle" class="white-wrap">{service.code}</td>
        <td valign="middle">{service.name}</td>
        <td valign="middle" class="white-wrap">{service.price}</td>
        <td valign="middle" class="white-wrap">{service.amoun}</td>
        <td valign="middle" class="white-wrap">{service.sum}</td>
      </tr>
    {% endfor %}
    <tr>
      <td colspan="4"><b>Итого</b></td>
      <td><b>{all_sum}</b></td>
    </tr>
  </table>
</div>
</body>
</html>









































































